<p>Filter by using the corresponding column.</p>
<!-- <div class="row">
  <div class="col-md-2">Pre-Defined Filters</div>
  <div class="col-md-4">
  <dx-radio-group #eventRadioGroup
      id="preDefFilters"
      layout="horizontal"
      [items]="filterNames"
      [value]="filterNames[0]"
      (onValueChanged)="onValueChanged($event)">
  </dx-radio-group>
  </div>
  <div class="col-md-2" *ngIf="currentFilterName === 'Custom'">
      <input class="form-control" type="date" [ngModel]="customGarmentOrderDate | date:'yyyy-MM-dd'" (ngModelChange)="customDateChange($event)">
  </div>
</div> -->
<div class="container col-md-12">
  <div class="row">
    <div class="col-lg-12">
      <dx-data-grid id="gridOrders" [dataSource]="dataSource" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
        [hoverStateEnabled]="true" [rowAlternationEnabled]="false" (onRowPrepared)="setCustomerName">
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="order_id" caption="OrderID" [visible]="false" [width]="100" [allowFiltering]="false" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="is_complete" caption="Complete" [width]="100" [allowSearch]="false" [allowFiltering]="false" 
                    [calculateCellValue]="setCompletedInd" [setCellValue]="setCompletedValue"></dxi-column>
        <dxi-column dataField="order.order_number" caption="Order#" [width]="100" [allowEditing]="false" cellTemplate="orderCell"></dxi-column>
        <dxi-column dataField="task_code" caption="Task" [width]="175" [allowEditing]="false">
          <dxo-lookup [dataSource]="taskLookup" valueExpr="char_mod" displayExpr="description"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="order.order_status" caption="Order Status" [width]="125" [allowEditing]="false">
          <dxo-lookup [dataSource]="order_statusSource" valueExpr="char_mod" displayExpr="description"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="order.assigned_user_id" caption="Assigned To" [width]="125" [allowEditing]="false">
          <dxo-lookup [dataSource]="userDataSource" valueExpr="user_id" [displayExpr]="getUserDisplayExpr"></dxo-lookup>
        </dxi-column>
        <!-- <dxi-column dataField="" caption="Customer Name" [width]="350" [allowSearch]="false" [allowFiltering]="false"></dxi-column> -->
        <dxi-column dataField="order.order_date" caption="Order Date" [visible]="true" [width]="100" [allowFiltering]="false" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="order.order_due_date" caption="Due Date" [visible]="true" [width]="100" [allowFiltering]="false" [allowEditing]="false"></dxi-column>
        <!-- <dxi-column dataField="" caption="Items" [calculateCellValue]="getOrderQty" [visible]="true" [width]="100" [allowFiltering]="false" [allowEditing]="false"></dxi-column> -->
        <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-sorting mode="multiple">
          <!-- or "multiple" | "none" -->
        </dxo-sorting>
        <dxo-export [enabled]="true" fileName="TaskList"></dxo-export>
        <dxo-paging [pageSize]="50"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true"></dxo-pager>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-editing mode="batch" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true">
        </dxo-editing>
        <div *dxTemplate="let data of 'orderCell'">
          <a [routerLink]="" (click)="showEditPopup(data)">{{data.value}}</a>
        </div>
      </dx-data-grid>
      <!-- START POPUP EDITOR MARKUP -->
      <dx-popup class="popup" [showTitle]="true" title="Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
        <div *dxTemplate="let data of 'content'" style="height:100%; width: 100%;">
          <div class="row">
            <div class="col-md-5">
              <strong>Customer:</strong>{{customer?.customer_name}}
            </div>
            <!-- <button class="form-control btn-primary" type="button" style="font-size:10px;" (click)="showValues();">Show Values</button> -->
            <!-- <div class="col-md-1">
              <button class="form-control btn-primary" type="button" style="font-size:10px;" (click)="reOrder(customerId)">ReOrder</button>
            </div> -->
            <!-- <div class="col-md-2">
              <button class="form-control btn-primary" type="button" style="font-size:10px;" (click)="showOrderSummary(selectedOrder)">Order Summary</button>
            </div> -->
          </div>
          <div *ngIf="loadingOrder">
            <h5>Loading Order</h5>
          </div>
          <mat-tab-group *ngIf="!loadingOrder" [dynamicHeight]="false" style="height: 90%; width: 100%;">
            <mat-tab label="Info">
              <dx-scroll-view style="height: 100%; width: 100%">
                <app-order-info [(currentOrder)]="selectedOrderMaster" [(customer)]="customer" [taskList]="taskListComp"></app-order-info>
              </dx-scroll-view>
            </mat-tab>
            <mat-tab label="Tasks">
              <dx-scroll-view style="height: 100%; width: 100%">
                <app-order-task-list [(masterOrder)]="selectedOrderMaster" #taskListComp></app-order-task-list>
              </dx-scroll-view>
            </mat-tab>
            <mat-tab label="Details">
              <dx-scroll-view style="height: 100%; width: 100%">
                <app-order-detail [(customer)]="customer" [(masterOrder)]="selectedOrderMaster"></app-order-detail>
              </dx-scroll-view>
            </mat-tab>
            <mat-tab label="Art">
              <dx-scroll-view style="height: 100%; width: 100%">
                <app-order-art [(masterOrder)]="selectedOrderMaster"></app-order-art>
              </dx-scroll-view>
            </mat-tab>
            <mat-tab label="History/Comments">
              <dx-scroll-view style="height: 100%; width: 100%">
                <app-order-notes-history [currentOrder]="selectedOrder" [(orderStatusHistory)]="selectedStatusHistory" [(orderNotes)]="selectedNotes"></app-order-notes-history>
              </dx-scroll-view>
            </mat-tab>
            <mat-tab label="Correspondence">
              <dx-scroll-view style="height: 100%; width: 100%">
                <app-order-correspondence [(masterOrder)]="selectedOrderMaster"></app-order-correspondence>
              </dx-scroll-view>
            </mat-tab>
          </mat-tab-group>
          <!-- <div *ngIf="!loadingOrder" class="col-md-12">
            <div class="col-md-2 float-right">
              <input type="checkbox" id="chkLeaveWindowOpen" name="chkLeaveWindowOpen" [checked]="leaveWindowOpen" (change)="leaveWindowOpen=!leaveWindowOpen">
              <label for="chkLeaveWindowOpen" style="font-size: 10px;">Leave Open</label>
            </div>
            <div class="col-md-2 float-right">
              <input type="button" style="font-size:10px;" class="form-control btn-primary" value="Save" (click)="applyChanges();">
            </div>
            <div class="col-md-2 float-right">
              <input type="button" style="font-size:10px;" class="form-control btn-default" value="Cancel" (click)="cancelChanges();">
            </div>
          </div> -->
        </div>
      </dx-popup>
      <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: window }" message="Loading..." [(visible)]="loading"
      [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
      <!--   (onShown)="onShown()"
      (onHidden)="onHidden()"> -->
    </dx-load-panel>
    </div>
  </div>
</div>