<div class="container pt-4">
    <mat-form-field class="name-form-field">
        <input matInput type="text" placeholder="Customer Name" [(ngModel)]="customer.customer_name"/>
        <button mat-button *ngIf="customer.customer_name" matSuffix mat-icon-button aria-label="Clear" (click)="customer.customer_name=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="date-form-field">
            <input matInput [matDatepicker]="setupDate" placeholder="Setup Date" [value]="customer.setup_date">
            <mat-datepicker-toggle matSuffix [for]="setupDate"></mat-datepicker-toggle>
            <mat-datepicker #setupDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
       <mat-select placeholder="Setup By" [(ngModel)]="customer.setup_by">
          <mat-option *ngFor="let user of userList" [value]="customer.setup_by">
            {{user.first_name + ' ' + user.last_name}}
          </mat-option>
        </mat-select>
    </mat-form-field>


    <!-- <div class="md-form">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" id="customerName" class="form-control" [(ngModel)]="customer.customer_name" mdbActive>
                <label for="customerName" >Customer Name</label>
            </div>
            <div class="col-lg-3">
                <input type="text" id="setupDate" class="form-control" 
                    [ngModel]="customer.setup_date | date: 'MM-dd-yyyy'"
                    (ngModelChange)="customer.setup_date = $event"
                    mdbActive [disabled]="true">
                <label for="setupDate" >Setup Date</label>
            </div>
            <div class="col-lg-3">
                <select class="form-control" id="setupBy" [(ngModel)]="customer.setup_by" 
                style="margin-top:13px;" mdbActive [disabled]="true">
                    <option *ngFor='let user of userList' [value]="user.user_id">
                                {{user.first_name + ' ' + user.last_name}}
                    </option>                          
                </select>
                <label for="setupBy">Customer Name</label>
            </div>
        </div>
    </div> -->
</div>

