.form-control {
    font-size: 12px;
}

input {
    font-size: 12px;
    height:32px;
}

.input-group-addon
{
    font-size: 12px;
    height: 32px;
}

td {
    padding-right:2px;
    padding-left:2px;
}

