<div class="container col-md-12 pt-4">
  <section>
    <div>
      <div class="row col-md-12">
        <div class="col-md-2">
          Items
        </div>
<!--         <div class="col-md-1">
            <button class="form-control btn-primary" type="button" style="font-size:10px;" (click)="showValues()">Show Values</button>
          </div> -->
        <div class="col-md-1">
          <button class="form-control btn-primary" type="button" style="font-size:10px;" (click)="addLineItem($event)">Add</button>
        </div>
      </div>
      <div *ngIf="noOrderItems()">
        <div class="alert alert-warning">No line items.</div>
      </div>
      <div *ngFor="let orderDetail of order.order_detail; index as i">
        <mat-card>
          <table>
            <tr>
              <td style="font-size:10px;"></td>
              <td style="font-size:10px;">In</td>
              <td style="font-size:10px;">Out</td>
              <td style="font-size:10px;">Item</td>
              <td style="font-size:10px;">Color</td>
              <td style="font-size:10px;">Y/A</td>
              <td style="font-size:10px;">XS</td>
              <td style="font-size:10px;">S</td>
              <td style="font-size:10px;">M</td>
              <td style="font-size:10px;">L</td>
              <td style="font-size:10px;">XL</td>
              <td style="font-size:10px;">2XL</td>
              <td style="font-size:10px;">3XL</td>
              <td style="font-size:10px;">4XL</td>
              <td style="font-size:10px;">5XL</td>
              <td style="font-size:10px;">Option</td>
              <td style="font-size:10px;">Qty</td>
            </tr>
            <tr>
              <td>
                <button mat-button color="warn" mat-icon-button aria-hidden="true" style="outline:none;" (click)="deleteLineItem(orderDetail);">
                  <mat-icon style="padding-bottom: 35px; padding-right: 26px; font-size:15px;">delete</mat-icon>
                </button>
              </td>
              <td>
                <input type="checkbox" id="checkedin_ind" name="chkIn" [checked]="orderDetail.checked_in_ind === 'Y'" (change)="orderDetail.checked_in_ind = $event.target.checked ? 'Y' : 'N'">
              </td>
              <td>
                <input type="checkbox" id="checkedout_ind" name="chkOut" value="'Y'" [checked]="orderDetail.checked_out_ind === 'Y'" (change)="orderDetail.checked_out_ind = $event.target.checked ? 'Y' : 'N'">
              </td>
              <td>
                <select class="form-control form-control-sm" style="font-size: 11px; width:auto;" [(ngModel)]="orderDetail.pricelist_id">
                  <option *ngFor="let itm of itemTypes" [value]="itm.pricelist_id">
                    {{itm.pricelist_description}}
                  </option>
                </select>
              </td>
              <td>
                <input class="form-control" type="text" size="7" [(ngModel)]="orderDetail.color_code">
              </td>
              <td>
                <select class="form-control form-control-sm" style="font-size: 11px; width:auto;" [(ngModel)]="orderDetail.style_code">
                  <option *ngFor="let itm of styleTypes" [value]="itm.char_mod">
                    {{itm.description}}
                  </option>
                </select>
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.xsmall_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.small_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.med_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.large_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.xl_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.C2xl_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.C3xl_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.C4xl_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <input type="text" size="1" [(ngModel)]="orderDetail.C5xl_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
              <td>
                <select class="form-control form-control-sm" style="font-size: 1vw; width:auto;" [(ngModel)]="orderDetail.other1_type">
                  <option></option>
                  <option *ngFor="let itm of sizeTypes" [value]="itm.char_mod">
                    {{itm.description}}
                  </option>
                </select>
              </td>
              <td>
                <input type="text" size="2" [(ngModel)]="orderDetail.other1_qty" (keyup)="onQtyPriceChange($event, i)">
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td></td>
              <td style="font-size:10px;">Total Qty</td>
              <td style="font-size:10px;">Price Each</td>
              <td style="font-size:10px;">Subtotal</td>
              <td style="font-size:10px;">Tax</td>
              <td style="font-size:10px;">Order Date</td>
              <td style="font-size:10px;">Arrival Date</td>
              <td style="font-size:10px;">Vendor</td>
              <td style="font-size:10px;">Manufacturer</td>
              <td style="font-size:10px;">Style #</td>
              <td style="font-size:10px;">Shipping PO</td>
            </tr>
            <tr>
              <td>
                <button class="btn-default" type="button" style="font-size:12px;" (click)="copyOrderLine($event, i)">Copy</button>
              </td>
              <td style="text-align:center;">
                <input type="text" class="form-control" size="1" [(ngModel)]="orderDetail.item_quantity" readonly>
              </td>
              <td>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" placeholder="0.00" size="4" [(ngModel)]="orderDetail.item_price_each" (keyup)="onQtyPriceChange($event, i)">
                </div>
              </td>
              <td style="text-align:center;">${{orderDetail.item_price_ext}}</td>
              <td>
                <input type="checkbox" id="taxable_ind" name="chkItemTaxable" [checked]="orderDetail.taxable_ind === 'Y'" 
                      (change)="orderDetail.taxable_ind = $event.target.checked ? 'Y' : 'N';updateTotals();">
              </td>
              <td>
                <input class="form-control" type="date" [ngModel]="orderDetail.garment_order_date | date:'yyyy-MM-dd'" (ngModelChange)="orderDetail.garment_order_date = $event">
              </td>
              <td>
                <input class="form-control" type="date" [ngModel]="orderDetail.garment_recvd_date | date:'yyyy-MM-dd'" (ngModelChange)="orderDetail.garment_recvd_date = $event">
              </td>
              <td>
                <select class="form-control form-control-sm" style="font-size: 11px; width:auto;" [(ngModel)]="orderDetail.vendor">
                  <option *ngFor="let itm of vendorTypes" [value]="itm.char_mod">
                    {{itm.description}}
                  </option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control" size="23" [(ngModel)]="orderDetail.manufacturer">
              </td>
              <td>
                <input type="text" class="form-control" size="16" [(ngModel)]="orderDetail.product_code">
              </td>
              <td>
                <input type="text" class="form-control" size="10" [(ngModel)]="orderDetail.shipping_po">
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td></td>
              <td style="font-size:10px;">Notes</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input type="text" class="form-control" size="150" [(ngModel)]="orderDetail.notes">
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
      <br>
      <div class="row col-md-12">
        <div class="col-md-2">
          Art Placement
        </div>
        <div class="col-md-1">
          <button class="form-control btn-primary" type="button" style="font-size:10px;" (click)="addArtPlacement($event)">Add</button>
        </div>
      </div>
      <div *ngIf="noArtPlacementItems()">
        <div class="alert alert-warning">No items.</div>
      </div>
      <div *ngFor="let artPlacement of orderArtPlacement">
      <mat-card>
        <table>
          <tr>
            <td style="font-size:10px;"></td>
            <td style="font-size:10px;">Art Placement</td>
            <td style="font-size:10px;">Colors</td>
            <td style="font-size:10px;">Color Codes</td>
            <td style="font-size:10px;">Added By</td>
            <td style="font-size:10px;">Added Date</td>
          </tr>
          <tr>
            <td>
              <button mat-button color="warn" mat-icon-button aria-hidden="true" style="outline:none;" (click)="deleteArtPlacement(artPlacement);">
                <mat-icon style="padding-bottom: 35px; padding-right: 27px; font-size:15px;">delete</mat-icon>
              </button>
            </td>
            <td>
              <select class="form-control form-control-sm" style="width:auto;" [(ngModel)]="artPlacement.art_placement_code">
                <option *ngFor="let itm of artLocations" [value]="itm.char_mod">
                  {{itm.description}}
                </option>
              </select>
            </td>
            <td>
              <input class="form-control" type="text" size="40"  [(ngModel)]="artPlacement.colors">
            </td>
            <td>
              <input class="form-control" type="text" size="40"  [(ngModel)]="artPlacement.color_codes">
            </td>
            <td>
              <select class="form-control form-control-sm" style="width:auto;" [(ngModel)]="artPlacement.added_by">
                  <option *ngFor="let user of userDataSource" [value]="user.login_id">
                      {{user.first_name + ' ' + user.last_name}}
                  </option>
                </select>
            </td>
            <td>
              <!-- <input class="form-control" type="date" readonly [ngModel]="artPlacement.added_date | date:'MM-dd-yyyy'" (ngModelChange)="artPlacement.added_date = $event"> -->
              <input class="form-control" 
              type="date" [ngModel]="artPlacement.added_date | date:'yyyy-MM-dd'" (ngModelChange)="artPlacement.added_date = $event">
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td></td>
            <td style="font-size:10px;">Note:&nbsp;&nbsp;&nbsp;</td>
            <td style="font-size:10px;">
              <input class="form-control" type="text" size="132" [(ngModel)]="artPlacement.notes">
            </td>
          </tr>
        </table>
      </mat-card>
    </div>
      <br>
      <div class="row col-md-12">
        <div class="col-md-2">
          Setup Charges
        </div>
        <div class="col-md-1">
          <button class="form-control btn-primary" type="button" style="font-size:10px;"  (click)="addFee($event)">Add</button>
        </div>
      </div>
      <div *ngIf="noOrderFees()">
        <div class="alert alert-warning">No items.</div>
      </div>
      <div *ngFor="let fee of orderFees; index as i">
      <mat-card>
        <table>
          <tr>
            <td style="font-size:10px;"></td>
            <td style="font-size:10px;">#</td>
            <td style="font-size:10px;">Quantity</td>
            <td style="font-size:10px;">Item</td>
            <td style="font-size:10px;">Each</td>
            <td style="font-size:10px;">Ext</td>
            <td style="font-size:10px;">Tax</td>
            <td style="font-size:10px;">Note</td>
          </tr>
          <tr>
            <td>
              <button mat-button color="warn" mat-icon-button aria-hidden="true" style="outline:none;" (click)="deleteFee(fee);">
                <mat-icon style="padding-bottom: 35px; padding-right: 30px; font-size:15px;">delete</mat-icon>
              </button>
            </td>
            <td>{{fee.fee_line_number}}</td>
            <td>
              <input class="form-control" type="text" size="5" [(ngModel)]="fee.fee_quantity" (keyup)="onFeeChange($event, i);">
            </td>
            <td>
              <select class="form-control form-control-sm" style="width:auto;" [(ngModel)]="fee.pricelist_id">
                <option *ngFor="let itm of setupItems" [ngValue]="itm.pricelist_id">
                  {{itm.pricelist_description}}
                </option>
              </select>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" placeholder="0.00" size="4" [(ngModel)]="fee.fee_price_each" (keyup)="onFeeChange($event, i);">
              </div>
            </td>
            <td>
              <input class="form-control" type="text" size="10" [(ngModel)]="fee.fee_price_ext" readonly>
            </td>
            <td>
              <input type="checkbox" id="setupChgTax" name="chkSetupChgTax" [checked]="fee.taxable_ind === 'Y'" (change)="fee.taxable_ind = $event.target.checked ? 'Y' : 'N';updateTotals();">
            </td>
            <td>
              <input class="form-control" type="text" size="75" [(ngModel)]="fee.notes">
            </td>
        </table>
      </mat-card>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">
            <table>
              <tr>
                <td>Subtotal:</td>
                <td>${{order.subtotal}}</td>
              </tr>
              <tr>
                <td>Non-taxable Subtotal:</td>
                <td>${{nonTaxableSubTotal}}</td>
              </tr>
              <tr>
                <td>Tax Rate:</td>
                <td><input type="text" size="5" [(ngModel)]="currentOrder.tax_rate" style="height: 25px;" (keyup)="onTaxRateChange($event)">%</td>
              </tr>
              <tr>
                <td>Tax:</td>
                <td>${{currentOrder.tax_amount}}</td>
              </tr>
              <tr>
                <td>Shipping:</td>
                <td>${{currentOrder.shipping}}</td>
              </tr>
              <tr>
                <td>Total:</td>
                <td>${{currentOrder.total}}</td>
              </tr>
              <tr>
                <td>Payments:</td>
                <td>${{currentOrder.payments}}</td>
              </tr>
              <tr>
                <td>
                  <strong>Balance Due:</strong>
                </td>
                <td><strong>${{currentOrder.balance_due}}</strong></td>
              </tr>
            </table>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-3">
                Payments
              </div>
              <div class="col-sm-2">
                <button class="form-control btn-success" type="button" style="font-size:10px;"  (click)="addPayment($event)">Add</button>
              </div>
            </div>
            
            <mat-card>
              <div *ngFor="let pmnt of orderPayments">
                <table>
                  <tr>
                    <td></td>
                    <td style="font-size:10px;">Date</td>
                    <td style="font-size:10px;">Amount</td>
                    <td style="font-size:10px;">Source</td>
                    <td style="font-size:10px;">Reference Number</td>
                    <td style="font-size:10px;">Entered by</td>
                  </tr>
                    <td><button mat-button color="warn" mat-icon-button aria-hidden="true" style="outline:none;" (click)="deletePayment(pmnt);">
                        <mat-icon style="padding-bottom: 35px; padding-right: 30px; font-size:15px;">delete</mat-icon>
                      </button>
                    </td>
                    <td>
                      <input class="form-control" type="date" size="8" [ngModel]="pmnt.payment_date | date:'yyyy-MM-dd'" (ngModelChange)="pmnt.payment_date = $event">
                    </td>
                    <td>
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" placeholder="0.00" size="8" [(ngModel)]="pmnt.payment_amount" (keyup)="updateTotals();">
                      </div>
                    </td>
                    <td>
                      <select class="form-control form-control-sm" style="width:auto;" [(ngModel)]="pmnt.payment_type_code">
                          <option *ngFor="let itm of paymentSourceItems" [value]="itm.char_mod">
                            {{itm.description}}
                          </option>
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control" size="8" [(ngModel)]="pmnt.check_number">
                    </td>
                    <td>
                      <select class="form-control form-control-sm" style="width:auto;" [(ngModel)]="pmnt.entered_user_id" [disabled]="true">
                        <option *ngFor="let user of userDataSource" [value]="user.user_id">
                            {{user.first_name + ' ' + user.last_name}}
                        </option>
                      </select>
                    </td>
                  

                </table>
              </div>
              <div *ngIf="orderPayments.length === 0">No Payments.</div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>