<div class="container col-md-12">
    <!-- <input type="button" text="Show Values!" (click)="showValues()"> -->
    <div class="card" *ngIf="customer!==undefined">
        <div class="card-header">
            <button type="button" class="btn btn-primary btn-sm float-right" (click)="addContact()">Add</button>
        </div>
        <div class="card-body" style="overflow-y: scroll; height:550px">
          <div class="card" *ngFor="let customerContact of customer.customer_person">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="person_type" class="col-form-label-sm">Person Type</label>
                        <select class="form-control" id="phone1Type" [(ngModel)]="customerContact.person_type">
                              <option *ngFor="let type of personTypes" value={{type.chr_mod}}>
                              {{type.description}} 
                              </option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label for="first_name" class="col-form-label-sm">First Name</label>
                        <input type="text" class="form-control-sm" [(ngModel)]="customerContact.first_name" placeholder="Enter First Name">
                      </div>
                      <div class="col-md-3">
                        <label for="last_name" class="col-form-label-sm">Last Name</label>
                        <input type="text" class="form-control-sm" [(ngModel)]="customerContact.last_name">
                      </div>
                      <div class="col-md-3">
                          <label for="email_address" class="col-form-label-sm">Email</label>
                          <input type="text" class="form-control-sm" [(ngModel)]="customerContact.email_address">
                      </div>
                </div>
                <div class="form-group row">
                      <div class="col-md-3">
                        <label for="phone1Type" class="col-form-label-sm">Phone 1 Type</label>
                        <select class="form-control" id="phone1Type" [(ngModel)]="customerContact.phone_1_type">
                              <option *ngFor="let type of phoneTypes" value={{type.chr_mod}}>
                              {{type.description}} 
                              </option>
                        </select>
                        <input type="text" class="form-control-sm" [(ngModel)]="customerContact.phone_1_type">
                      </div>
                      <div class="col-md-3">
                        <label for="phone1" class="col-form-label-sm">Phone 1</label>
                        <input type="text" class="form-control-sm" [(ngModel)]="customerContact.phone_1">
                      </div>
                      <div class="col-md-3">
                        <label for="phone1Ext" class="col-form-label-sm">Phone 1 Ext.</label>
                        <input type="text" class="form-control-sm" [(ngModel)]="customerContact.phone_1_ext">
                      </div>
                </div>
                <button type="button" class="btn btn-warning btn-sm float-right" (click)="removeContact(customerContact)"> Remove Contact</button>
                <button type="button" class="btn btn-primary btn-sm float-right"> Apply Changes</button>
            </div>
          </div>
          
        </div>
        <div class="card-footer"> 
            
        </div> 
    </div>
</div>
  
  
  




