<div class="row">
  <div class="col-lg-6">
    <dx-data-grid id="gridOrderDetails"
  [dataSource]="dataSource">
    <dxi-column dataField="order_detail_id" caption="ID" [width]="50"></dxi-column>
    <dxi-column dataField="order_id" caption="Order ID" [width]="250"></dxi-column>
    <dxi-column dataField="item_type" caption="Item Type" [width]="100"></dxi-column>
    <dxi-column dataField="item_line_number" caption="Item Line Number" [width]="100"></dxi-column>
    <dxi-column dataField="item_quantity" caption="Item Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="pricelist_id" caption="Price List ID" [width]="100"></dxi-column>
    <dxi-column dataField="style_code" caption="Style Code" [width]="100"></dxi-column>
    <dxi-column dataField="color_code" caption="Color Code" [width]="100"></dxi-column>
    <dxi-column dataField="size_code" caption="Size Code" [width]="100"></dxi-column>
    <dxi-column dataField="vendor" caption="Vendor" [width]="100"></dxi-column>
    <dxi-column dataField="manufacturer" caption="Manufacturer" [width]="100"></dxi-column>
    <dxi-column dataField="product_code" caption="Product Code" [width]="100"></dxi-column>
    <dxi-column dataField="item_price_each" caption="Item Price Each" [width]="100"></dxi-column>
    <dxi-column dataField="item_price_ext" caption="Item Price Extended" [width]="100"></dxi-column>
    <dxi-column dataField="taxable_ind" caption="Taxable" [width]="100"></dxi-column>
    <dxi-column dataField="shipping_po" caption="Shipping PO" [width]="100"></dxi-column>
    <dxi-column dataField="notes" caption="Notes" [width]="100"></dxi-column>
    <dxi-column dataField="checked_in_ind" caption="Checked In" [width]="100"></dxi-column>
    <dxi-column dataField="checked_out_ind" caption="Checked Out" [width]="100"></dxi-column>
    <dxi-column dataField="xsmall_qty" caption="X-Small Quantiy" [width]="100"></dxi-column>
    <dxi-column dataField="small_qty" caption="Small Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="med_qty" caption="Medium Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="large_qty" caption="Large Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="xl_qty" caption="XL Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="2xl_qty" caption="2XL Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="3xl_qty" caption="3XL Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="4xl_qty" caption="4XL Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="other1_type" caption="Other 1 Type" [width]="100"></dxi-column>
    <dxi-column dataField="other1_qty" caption="Other 1 Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="other2_type" caption="Other 2 Type" [width]="100"></dxi-column>
    <dxi-column dataField="other2_qty" caption="Other 2 Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="other3_type" caption="Other 3 Type" [width]="100"></dxi-column>
    <dxi-column dataField="other3_qty" caption="Other 3 Quantity" [width]="100"></dxi-column>
    <dxi-column dataField="order_number" caption="Order Name" [width]="100"></dxi-column>
    <dxi-column dataField="customer_name" caption="Customer Name" [width]="100"></dxi-column>
    <dxi-column dataField="garment_order_date" caption="Garment Order Date" [width]="100"></dxi-column>
    <dxi-column dataField="garment_recvd_date" caption="Garment Received Date" [width]="100"></dxi-column>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-sorting mode="single"> <!-- or "multiple" | "none" -->
</dxo-sorting>
</dx-data-grid>
  </div>
</div>

