    <div class="row col-md-12">
        <!-- <div class="col-md-2">
            Art Placement
        </div>-->
        <div class="col-md-8">
                <dx-file-uploader
                #fileUploader
                name="file"
                [uploadUrl]="orderUploadURL"
                [multiple]="false"
                accept="*"
                [width]="300"
                [(value)]="value"
                uploadMode="instantly"
                [uploadHeaders]="uploadHeaders"
                [showFileList]="true"
                (onUploaded)="uploadComplete($event)"
            ></dx-file-uploader>
        </div> 
        <div *ngFor="let artFile of orderArtFiles">
          <mat-card>
            <table width="900">
              <tr>
                <td style="font-size:10px;" width="50"></td>
                <td style="font-size:10px;" width="300">Art File</td>
                <td style="font-size:10px;" width="250">Art Folder</td>
                <td style="font-size:10px;" width="350">Notes</td>
              </tr>
              <tr>
                <td>
                  <button mat-button color="warn" mat-icon-button aria-hidden="true" style="outline:none;" (click)="deleteArtItem(artFile);">
                    <mat-icon style="padding-bottom: 35px; padding-right: 27px; font-size:15px;">close</mat-icon>
                  </button>
                </td>
                <td>
                  <a [href]="defaultArtFolder + artFile.image_file" target="_blank"><img [src]="defaultArtFolder + artFile.image_file" height="40px" width="40px"></a>
                </td>
                <td>
                  <input class="form-control" type="text" size="40" [(ngModel)]="artFile.art_folder">
                </td>
                <td>
                  <input class="form-control" type="text" size="40" [(ngModel)]="artFile.note">
                </td>
              </tr>
            </table>
          </mat-card>
        </div>
</div>
