/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.material-icons {
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 5px;
  }

  