<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container fullscreen>
        <mat-sidenav mode="over" #sidenav>
     
            <div fxLayout="column">
                <mat-toolbar fxLayoutAlign="center center" color="primary">
                    <button mat-button routerLink="/home" (click)="sidenav.close()">
                    <mat-icon>home</mat-icon>
                </button>
                </mat-toolbar>
                <button mat-button routerLink="/dashboard" (click)="sidenav.close()">Dashboard</button>
                <button mat-button routerLink="/second" (click)="sidenav.close()">Second</button>
            </div>
     
        </mat-sidenav>
     
        <div>
            <mat-toolbar color="primary">
     
                <button mat-button (click)="sidenav.open()" fxHide="false" fxHide.gt-sm>
                      <mat-icon>menu</mat-icon>
              </button>
     
                <div fxLayout="row" fxShow="false" fxShow.gt-sm>
                    <button color="accent" mat-button routerLink="/home">
                    <mat-icon>home</mat-icon>
                </button>
                    <button color="accent" mat-button routerLink="/dashboard">Dashboard</button>
                    <button color="accent" mat-button routerLink="/second">Second</button>
                </div>
     
            </mat-toolbar>
        </div>
    </mat-sidenav-container>
