<div class="container col-md-12">
  <div class="row">
    <div class="col-lg-12">
      <dx-data-grid id="gridOrders" [dataSource]="dataSource" [showColumnLines]="false" [showRowLines]="true" [showBorders]="true"
        [hoverStateEnabled]="true" [rowAlternationEnabled]="true" [height]="525" (onSelectionChanged)="selectionChanged($event)">
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="reorder_ind" caption="Reorder?" [width]="100" [allowFiltering]="false" [calculateCellValue]="setReorderInd"></dxi-column>
        <dxi-column dataField="order_number" caption="Order #" [width]="100" [allowSearch]="true" [allowFiltering]="true" cellTemplate="orderCell"></dxi-column>
        <dxi-column dataField="order_status" caption="Status" [width]="125">
          <dxo-lookup [dataSource]="order_statusSource" valueExpr="char_mod" displayExpr="description"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="customer.customer_name" caption="Customer Name" [width]="400"></dxi-column>
        <dxi-column dataField="order_date" caption="Order Date" dataType="date" [width]="110"></dxi-column>
        <dxi-column dataField="order_due_date" caption="Due Date" dataType="date" [width]="110"></dxi-column>
        <dxi-column dataField="purchase_order" caption="Purchase Order" [width]="175"></dxi-column>
        <dxi-column dataField="order_type" caption="Order Type" [width]="225">
          <dxo-lookup [dataSource]="order_typeSource" valueExpr="char_mod" displayExpr="description"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="assigned_user_id" caption="Assigned To" [width]="100">
          <dxo-lookup [dataSource]="user_Source" valueExpr="user_id" displayExpr="login_id"></dxo-lookup>
        </dxi-column>
        <!--<dxi-column dataField="" caption="Items" [width]="100"></dxi-column> -->
        <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-sorting mode="single">
          <!-- or "multiple" | "none" -->
        </dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true"></dxo-pager>
        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true">
          <dxo-popup title="User Info" [showTitle]="true" [width]="700" [height]="450" [position]="{ my: 'top', at: 'top' }">
          </dxo-popup>
        </dxo-editing>
        <div *dxTemplate="let data of 'orderCell'">
            <a href="#" (click)="showEditPopup(data)">{{data.value}}</a>
          <!-- <button type="button" class="btn btn-xs" (click)="showEditPopup(data)">{{data.value}}</button> -->
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>