<div class="container col-md-12">
  <div class="row">
    <div class="col-lg-12">
      <dx-data-grid id="gridOrders" [dataSource]="dataSource" [showColumnLines]="false" [showRowLines]="true" [showBorders]="true"
        [hoverStateEnabled]="true" [rowAlternationEnabled]="false" (onSelectionChanged)="selectionChanged($event)">
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="reorder_ind" caption="Reorder?" [width]="100" [allowFiltering]="false" [calculateCellValue]="setReorderInd"></dxi-column>
        <dxi-column dataField="order_number" caption="Order #" [width]="100" [allowSearch]="true" [allowFiltering]="true" cellTemplate="orderCell"></dxi-column>
        <dxi-column dataField="order_status" caption="Status" [width]="125">
          <dxo-lookup [dataSource]="order_statusSource" valueExpr="char_mod" displayExpr="description"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="customer.customer_name" caption="Customer Name" [width]="400"></dxi-column>
        <dxi-column dataField="order_date" caption="Order Date" dataType="date" [width]="110"></dxi-column>
        <dxi-column dataField="order_due_date" caption="Due Date" dataType="date" [width]="110"></dxi-column>
        <dxi-column dataField="purchase_order" caption="Purchase Order" [width]="175"></dxi-column>
        <dxi-column dataField="order_type" caption="Order Type" [width]="225">
          <dxo-lookup [dataSource]="order_typeSource" valueExpr="char_mod" displayExpr="description"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="assigned_user_id" caption="Assigned To" [width]="100">
          <dxo-lookup [dataSource]="user_Source" valueExpr="user_id" displayExpr="login_id"></dxo-lookup>
        </dxi-column>
        <!--<dxi-column dataField="" caption="Items" [width]="100"></dxi-column> -->
        <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-sorting mode="single">
          <!-- or "multiple" | "none" -->
        </dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true"></dxo-pager>
        <dxo-editing mode="form" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
        </dxo-editing>
        <div *dxTemplate="let data of 'orderCell'">
          <a [routerLink]="" (click)="showEditPopup(data)">{{data.value}}</a>
          <!-- <button type="button" class="btn btn-xs" (click)="showEditPopup(data)">{{data.value}}</button> -->
        </div>
      </dx-data-grid>
      <!-- START POPUP EDITOR MARKUP -->
      <dx-popup class="popup" [showTitle]="true" title="Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="popupVisible">
        <div *dxTemplate="let data of 'content'" style="height:100%; width: 100%;">
          <div class="row">
            <div class="col-md-3">
              <strong>Customer:</strong>{{selectedOrder.customer.customer_name}}
            </div>
            <div class="col-md-1">
              <button class="form-control btn-primary" type="button" style="font-size:10px;">ReOrder</button>
            </div>
            <div class="col-md-2">
              <button class="form-control btn-primary" type="button" style="font-size:10px;">Order Summary</button>
            </div>
          </div>
          <!-- <h6>{{selectedCustomer.customer_name ? 'A Customer':'New Customer' }}</h6> -->
          <div class="col-md-12">
            <ngb-tabset #orderTab style="min-width: 1200px; min-height: 600px; overflow-y: scroll; overflow-x: hidden;">
              <ngb-tab id="Info" title="Info">
                <!-- <div class="col-md-10"> -->
                <ng-template ngbTabContent>
                  <div class="row">
                    <app-order-info [currentOrder]="selectedOrder"></app-order-info>
                  </div>
                </ng-template>
                <!-- </div> -->
              </ngb-tab>
              <ngb-tab id="Details" title="Details">
                <!-- <div class="col-md-10"> -->
                <ng-template ngbTabContent>
                  <div class="row">
                    <app-order-detail [currentOrder]="selectedOrder"></app-order-detail>
                  </div>
                </ng-template>
                <!-- </div> -->
              </ngb-tab>
              <ngb-tab id="Art" title="Art" [disabled]="false">
                <ng-template ngbTabContent>
                  <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                      <b>Lorem</b> Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                      imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris
                      <b>Praesent</b> massa. Vestibulum lacinia arcu eget nulla. Class aptent
                      <b>massa.</b> taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                      sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh.
                      <b>Sed</b> Aenean quam. In scelerisque sem
                      <b>lacinia</b> at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas
                      <b>sem.</b> porttitor. Morbi lectus risus, iaculis vel, suscipit quis,
                      <b>vel</b> luctus non, massa. Fusce ac turpis
                      <b>quis,</b> quis ligula lacinia
                      <b>vel,</b> aliquet. Mauris ipsum. Nulla
                      <b>quis</b> metus metus, ullamcorper vel, tincidunt
                      <b>aliquet.</b> sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu
                      ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec
                      <b>litora</b> ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum
                      <b>tortor</b> ante quis turpis. Nulla facilisi. Ut
                      <b>cursus</b> fringilla.
                      <b>ante</b> Suspendisse potenti. Nunc feugiat mi a tellus
                      <b>fringilla.</b> consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.
                      <b>mi</b> Suspendisse in justo eu
                      <b>consequat</b> magna luctus
                      <b>imperdiet.</b> suscipit. Sed lectus. Integer euismod
                      <b>Suspendisse</b> lacus luctus magna. Quisque cursus,
                      <b>lectus.</b> metus vitae pharetra auctor, sem massa
                      <b>magna.</b> mattis sem,
                      <b>metus</b> at interdum magna augue eget diam. Vestibulum ante ipsum
                      <b>mattis</b> primis in faucibus orci luctus et ultrices
                      <b>ipsum</b> posuere
                      <b>in</b> cubilia Curae; Morbi lacinia molestie dui. Praesent
                      <b>posuere</b> blandit
                      <b>posuere</b> dolor. Sed non quam. In vel
                      <b>lacinia</b> mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec
                      lacus nunc, viverra nec.</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="Tasks" title="Tasks" [disabled]="false">
                <ng-template ngbTabContent>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="History" title="History/Comments" [disabled]="false">
                <ng-template ngbTabContent>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          <div class="col-md-3 float-right" style="padding-top:5px;">
            <input type="button" class="btn btn-default" value="Cancel" (click)="closeEditor();">
            <input type="button" class="btn btn-primary" value="Apply" (click)="applyChanges();">
          </div>
        </div>
      </dx-popup>
    </div>
  </div>
</div>