.form-control {
    font-size: 10px;
    height: 32px;
}

.input-group-addon
{
    font-size: 10px;
    height: 32px;
}

input {
    font-size: 10px;
    height:32px;
}

select {
    font-size: 10px;
    height:32px;
}

td {
    padding-right:2px;
    padding-left:2px;
}

td.placeholder {
    border-top:0pt none;
    margin-top:0pt;
    padding-bottom:3px;
    padding-left:43px;
    padding-top:5px;
  }