<p>Filter by using the corresponding column. To add a new Customer, click on the Plus (+) button.</p>
<div class="row">
  <div class="col-lg-12">
    <dx-data-grid id="gridContacts" [dataSource]="dataSource" [showColumnLines]="false" [showRowLines]="true" [showBorders]="true"
      [hoverStateEnabled]="true" [rowAlternationEnabled]="false" (onRowClick)="onRowClick($event)" (onToolbarPreparing)="onToolbarPreparing($event)"
      (onContentReady)="contentReady($event)">
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="customer_person_id" caption="Contact ID" [width]="100" [allowFiltering]="true" [visible]="false"></dxi-column>
      <dxi-column dataField="customers.customer_name" caption="Customer Name" [width]="450" sortOrder="asc" [allowFiltering]="true"
        cellTemplate="customerCell"></dxi-column>
      <dxi-column dataField="person_type" caption="Person Type" [width]="200" [allowFiltering]="true">
        <dxo-lookup [dataSource]="personTypes" valueExpr="char_mod" displayExpr="description"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="first_name" caption="First Name" [width]="250" [allowFiltering]="true"></dxi-column>
      <dxi-column dataField="last_name" caption="Last Name" [width]="250" [allowFiltering]="true"></dxi-column>
      <dxo-search-panel [visible]="false"></dxo-search-panel>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="single">
        <!-- or "multiple" | "none" -->
      </dxo-sorting>
      <dxo-paging [pageSize]="currentPageSize" [enabled]="pagingEnabled"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="allowedPageSizes"></dxo-pager>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
      <dxo-scrolling mode="scrollMode"></dxo-scrolling>
      <dxo-export [enabled]="true" fileName="Customers"></dxo-export>
      <dxo-editing mode="form" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false">
      </dxo-editing>
      <div *dxTemplate="let data of 'customerCell'">
        <a [routerLink]="" (click)="showEditPopup(data)">{{data.value}}</a>
        <!-- <button type="button" class="btn btn-outline-primary btn-xs" (click)="showEditPopup(data.data.customers)">{{data.value}}</button> -->
      </div>
    </dx-data-grid>
    <!-- START POPUP EDITOR MARKUP -->
    <dx-popup class="popup" [showTitle]="true" title="Details" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="popupVisible"
      (onHiding)="popupHiding($event)">
      <div *dxTemplate="let data of 'content'">
        <mat-tab-group [dynamicHeight]="true" style="height: 90%; width: 100%">
          <mat-tab label="Info">
            <dx-scroll-view style="height: 100%; width: 100%">
              <app-customer-info [customer]="selectedCustomer"></app-customer-info>
              <app-contact-address [customer]="selectedCustomer"></app-contact-address>
              <app-contact-info [customer]="selectedCustomer"></app-contact-info>
            </dx-scroll-view>
          </mat-tab>
          <mat-tab label="Notes" [disabled]="true">
          </mat-tab>
          <mat-tab label="Orders" [disabled]="orderTabDisabled">
            <dx-scroll-view style="height: 100%; width: 100%">
              <app-customer-order-list [customer]="selectedCustomer"></app-customer-order-list>
            </dx-scroll-view>
          </mat-tab>
        </mat-tab-group>
        <div class="col-md-12">
          <div class="col-md-2 float-right">
            <input type="checkbox" id="chkLeaveWindowOpen" name="chkLeaveWindowOpen" [checked]="leaveWindowOpen" (change)="leaveWindowOpen=!leaveWindowOpen">
            <label for="chkLeaveWindowOpen" style="font-size: 10px;">Leave Open</label>
          </div>
          <div class="col-md-2 float-right">
            <input type="button" style="font-size:10px;" class="form-control btn-primary" value="Save" (click)="applyChanges();">
          </div>
          <div class="col-md-2 float-right">
            <input type="button" style="font-size:10px;" class="form-control btn-default" value="Cancel" (click)="cancelChanges();">
          </div>
        </div>
      </div>
    </dx-popup>