<div class="col-lg-12">
  <button (click)="print();">Print</button>
  <div id="print-section" class="row">
    <div class="col-lg-8">
      <img src="\assets\wts.png" width="191" height="68">
      <div class="col-md-12" id="order_info" *ngIf="currentOrder !== undefined">
        <fieldset>
          <legend class="SmallBodyText">
            <b>Order Information:</b><br>
            <b>Sales Rep: </b> {{getUserName(currentOrder.taken_user_id)}}
          </legend>
          <table class="SmallBodyText" cellpadding="1" cellspacing="0">
            <tr>
              <td nowrap width="75">
                <b>Order #</b>
              </td>
              <td nowrap width="75">
                <b>Due Date</b>
              </td>
              <td nowrap colspan="3">
                <b>Customer Name</b>
              </td>
              <td nowrap width="175">
                <b>Order Type</b>
              </td>
              <td></td>
            </tr>
            <tr>
              <td nowrap width="75">{{currentOrder?.order_number}}&nbsp;&nbsp;</td>
              <td nowrap width="75">{{currentOrder?.order_due_date | date: 'MM/dd/yyyy' }}&nbsp;&nbsp;</td>
              <td nowrap colspan="3">{{currentOrder?.customer?.customer_name}}&nbsp;</td>
              <td nowrap width="175">{{getLookupDescription(currentOrder.order_type)}}&nbsp;&nbsp;</td>
              <td nowrap>
                <img src="\assets\greybox.gif"> Pick up</td>
            </tr>
            <tr></tr>
            <tr>
              <td nowrap width="100">
                <b>Contact</b>
              </td>
              <td nowrap width="100">
                <b>Phone 1</b>
              </td>
              <td nowrap width="50">
                <b>Ext</b>
              </td>
              <td nowrap width="100">
                <b>Phone 2</b>
              </td>
              <td nowrap width="50">
                <b>Ext</b>
              </td>
              <td nowrap width="175">
                <b>Email</b>
              </td>
              <td></td>
            </tr>
            <tr>
              <td nowrap width="100">{{currentOrder.contact}}&nbsp;&nbsp;</td>
              <td nowrap width="100">{{currentOrder.contact_phone1 | phoneFormat}}&nbsp;&nbsp;</td>
              <td nowrap width="50">{{currentOrder.contact_phone1_ext}}&nbsp;&nbsp;</td>
              <td nowrap width="100">{{currentOrder.contact_phone2 | phoneFormat}}&nbsp;&nbsp;</td>
              <td nowrap width="50">{{currentOrder.contact_phone2_ext}}&nbsp;&nbsp;</td>
              <td nowrap width="175">{{currentOrder.contact_email}}&nbsp;&nbsp;</td>
              <td nowrap>
                <img src="\assets\greybox.gif"> Ship</td>
            </tr>
          </table>
        </fieldset>
      </div>
      <br>
      <div id="ORDER_DETAIL">
        <fieldset>
          <legend class="SmallBodyText">
            <b>Items:</b>
          </legend>
          <!--includeif tableempty="ORDER_DETAIL"-->
          <div *ngIf="currentOrder?.order_detail === undefined || currentOrder?.order_detail.length === 0">No line items.</div>
          <table class="SmallBodyText" cellpadding="0" cellspacing="0" border="1">
            <tr>
              <th>#</th>
              <th>Qty</th>
              <th>Item</th>
              <th>Y/A</th>
              <th>Color</th>
              <th style="width:20px">XS</th>
              <th style="width:20px">S</th>
              <th style="width:20px">M</th>
              <th style="width:20px">L</th>
              <th style="width:20px">XL</th>
              <th style="width:20px">2XL</th>
              <th style="width:20px">3XL</th>
              <th style="width:20px">4XL</th>
              <th style="width:20px">5XL</th>
              <th style="width:50px"></th>
              <th>Vendor</th>
              <th>Mfgr</th>
              <th>Style #</th>
              <th>Shipping PO#</th>
            </tr>
              <tbody>
                <tr *ngFor="let lineItem of currentOrder?.order_detail">
                  <td>
                    <b>{{lineItem.item_line_number}}</b>
                  </td>
                  <td>{{lineItem.item_quantity}}</td>
                  <td>{{getItemDescription(lineItem.pricelist_id)}}<br>
                      <i>{{lineItem.notes}}</i></td>
                  <td>{{getStyleDescription(lineItem.style_code)}}</td>
                  <td>{{lineItem.color_code}}</td>
                  <td>{{lineItem.xsmall_qty}}</td>
                  <td>{{lineItem.small_qty}}</td>
                  <td>{{lineItem.med_qty}}</td>
                  <td>{{lineItem.large_qty}}</td>
                  <td>{{lineItem.xl_qty}}</td>
                  <td>{{lineItem.C2xl_qty}}</td>
                  <td>{{lineItem.C3xl_qty}}</td>
                  <td>{{lineItem.C4xl_qty}}</td>
                  <td>{{lineItem.C5xl_qty}}</td>
                  <td><i><b>{{getLookupDescription(lineItem.other1_type)}}</b></i> {{lineItem.other1_qty}}</td>
                  <td>{{getLookupDescription(lineItem.vendor)}}</td>
                  <td>{{lineItem.manufacturer}}</td>
                  <td>{{lineItem.product_code}}</td>
                  <td>{{lineItem.shipping_po}}</td>
                </tr> 
              </tbody>
            </table>
          <!-- </div> -->
          <!--endincludeif-->
        </fieldset>
      </div>

      <br>

      <div id="order_fees">
        <fieldset>
          <legend class="SmallBodyText">
            <b>Setup Fees:</b>
          </legend>
          <!--includeif tableempty="order_fees"-->
          <table class="SmallBodyText" cellpadding="1" cellspacing="0">
              <tr>
                <th>#</th>
                <th>Qty</th>
                <th>Fee</th>
                <th>Each</th>
                <th>Total</th>
              </tr>
          <!--else-->
            <tbody>
              <!--foreachrow table="ORDER_FEES"-->
              <tr *ngFor="let orderFee of currentOrder.order_fees">
                <td><b>{{orderFee.fee_line_number}}</b></td>
                <td>{{orderFee.fee_quantity}}</td>
                <td>{{getFeeDescription(orderFee.pricelist_id)}}</td>
                <td>{{orderFee.fee_price_each}}</td>
                <td>{{orderFee.fee_price_ext}}</td>
              </tr>
              <!--endforeachrow-->
            </tbody>
          </table>
          <div *ngIf="currentOrder.order_fees === undefined || currentOrder.order_fees.length === 0">No setup fees.</div>
          <!--endincludeif-->
        </fieldset>
      </div>

      <br>

      <div id="ART_PLACEMENT">
        <fieldset>
          <legend class="SmallBodyText">
            <b>Art Placement:</b>
          </legend>
          <table class="SmallBodyText" cellpadding="1" cellspacing="0">
              <tr>
                <td width="150">
                  <b>Art Placement</b>
                </td>
                <td width="250">
                  <b>Colors</b>
                </td>
                <td width="250">
                  <b>Notes</b>
                </td>
              </tr>
          </table>
          <!--includeif tableempty="order_art_placement"-->
          <div *ngIf="currentOrder.order_art_placements === undefined || currentOrder.order_art_placements.length === 0">No art placement selected</div> 
          <!--else-->
          <div *ngFor="let placement of currentOrder.order_art_placements">
          <table class="SmallBodyText" cellpadding="1" cellspacing="0">
            <!--foreachrow table="ORDER_ART_PLACEMENT"-->
            <tr>
              <td width="150">{{getLookupDescription(placement.art_placement_code)}}&nbsp;&nbsp;</td>
              <td width="250">{{placement.colors}}&nbsp;&nbsp;</td>
              <td width="250">{{placement.notes}}&nbsp;&nbsp;</td>
            </tr>
            <!--endforeachrow-->
          </table>
        </div>
          <!--endincludeif-->
        </fieldset>
      </div>

      <br>
      <div id="ORDER_ART">
          <fieldset>
            <legend class="SmallBodyText">
              <b>Order Art:</b>
            </legend>
            <table class="SmallBodyText" cellpadding="1" cellspacing="0">
                <tr>
                  <td width="250">
                    <b>Art File</b>
                  </td>
                  <td width="250">
                    <b>Art Folder</b>
                  </td>
                  <td width="250">
                    <b>Notes</b>
                  </td>
                  <td width="250">
                    <b>Thumbnail</b>
                  </td>
                </tr>
            </table>
            <!--includeif tableempty="ORDER_ART_FILE"-->
            <div *ngIf="currentOrder.order_art_file === undefined || currentOrder.order_art_file.length === 0">No art files</div>
            <!--else-->
            <div *ngFor="let artFile of currentOrder.order_art_file">
            <table class="SmallBodyText" cellpadding="1" cellspacing="0">
              <!--foreachrow table="ORDER_ART_FILE"-->
              <tr>
                <td width="250">{{artFile.image_file}}&nbsp;&nbsp;</td>
                <td width="250">{{artFile.art_folder}}&nbsp;&nbsp;</td>
                <td width="250">{{artFile.note}}&nbsp;&nbsp;</td>
                <td width="250"><img [src]="defaultArtFolder + artFile.image_file" height="75px" width="75px"></td>
              </tr>
              <!--endforeachrow-->
            </table>
          </div>
            <!--endincludeif-->
          </fieldset>
        </div>
  
        <br>
        
      <div id="ORDER_NOTES">
        <fieldset>
          <legend class="SmallBodyText">
            <b>Notes:</b>
          </legend>
          <table class="SmallBodyText" cellpadding="1" cellspacing="0">
            <!--foreachrow table="ORDER_NOTES"-->
            <!--includeif function="IS_PUBLIC"-->
            <tr *ngFor="let note of currentOrder.order_notes">
              <td *ngIf="note.private_ind != 'Y'">{{note.notes_value}}&nbsp;&nbsp;</td>
            </tr>
            <!--endincludeif-->
            <!--endforeachrow-->
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</div>