<div class="container col-md-12">
    <h5><span class="material-icons" style="text-align: center;">shopping_cart</span> Orders</h5>
<!--     {{order_typeSource}}
    <dx-button  class="btn btn-default btn-sm pull-left" text="Check Values" (onClick)="checkValues();">
    </dx-button> -->
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <dx-data-grid id="gridOrders"
      [dataSource]="dataSource"
      [showColumnLines]="false"
      [showRowLines]="true"
      [showBorders]="true"
      [hoverStateEnabled]="true"
      [rowAlternationEnabled]="false"
      [height]="525"
      (onSelectionChanged)="selectionChanged($event)">
      <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="reorder_ind" caption="Reorder?" [width]="100" [allowFiltering]="false" [calculateCellValue]="setReorderInd"></dxi-column>
        <dxi-column dataField="order_number" caption="Order #" [width]="100" [allowSearch]="true" [allowFiltering]="true"></dxi-column>
        <dxi-column dataField="order_status" caption="Status" [width]="125">
          <dxo-lookup
            [dataSource]="order_statusSource"
            valueExpr="char_mod"
            displayExpr="description"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="customer.customer_name" caption="Customer Name" [width]="400"></dxi-column>
        <dxi-column dataField="order_date" caption="Order Date" dataType="date" [width]="110"></dxi-column>
        <dxi-column dataField="order_due_date" caption="Due Date" dataType="date" [width]="110"></dxi-column>
        <dxi-column dataField="purchase_order" caption="Purchase Order" [width]="175"></dxi-column>
        <dxi-column dataField="order_type" caption="Order Type" [width]="225">
            <dxo-lookup
            [dataSource]="order_typeSource"
            valueExpr="char_mod"
            displayExpr="description"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="assigned_user_id" caption="Assigned To" [width]="100">
            <dxo-lookup
            [dataSource]="user_Source"
            valueExpr="user_id"
            displayExpr="login_id"></dxo-lookup>
        </dxi-column>
        <!--<dxi-column dataField="" caption="Items" [width]="100"></dxi-column> -->
        <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-sorting mode="single"> <!-- or "multiple" | "none" --></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 20, 50]"
          [showInfo]="true"></dxo-pager>
    <dxo-editing 
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="false"
    [allowAdding]="true">
        <dxo-popup
        title="User Info"
        [showTitle]="true"
        [width]="700"
        [height]="450"
        [position]="{ my: 'top', at: 'top', of: window }">
        </dxo-popup>
</dxo-editing>
    </dx-data-grid>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12">
          <dx-tab-panel
          #tabPanel
          [selectedIndex]="0"
          [loop]="false"
          [animationEnabled]="true"
          [swipeEnabled]="true">
            <dxi-item title='Info'>
              <div class="panel panel-default xs-md-12">
                  <div class="panel-heading">Panel Heading</div>
                  <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label for="orderNum">Order Nbr:</label>
                            <input type="text" class="form-control" id="orderNum"
                                   required
                                   [(ngModel)]="selectedOrder.order_number" name="orderNum">
                            <label for="orderDate">Order Date:</label>
                            <input type="text" class="form-control" id="orderDate"
                                   required
                                   [value]="selectedOrder.order_date | date: 'MM-dd-yyyy'" (ngModelChange)="selectedOrder.order_date = $event" name="orderDate">
                        </div>
                      </div>
                  </div>
              </div>
            </dxi-item>
            <dxi-item title='Details'>
              <app-orderdetails></app-orderdetails>
            </dxi-item>
            <dxi-item title='History'>
              History
            </dxi-item>
        </dx-tab-panel>
      </div>
    </div>
  </div>