<div class="container col-md-12">
  <h5><span class="material-icons" style="text-align: center;">group</span> Customers</h5>
  <hr>
  <ngb-tabset #customerTabs>
    <ngb-tab id='tbContacts' title="Contacts">
      <ng-template ngbTabContent>
        <app-contact-list></app-contact-list>  
      </ng-template>
    </ngb-tab>
    <ngb-tab id='tbCustomers' title="Customers">
      <ng-template ngbTabContent>
        <app-customer-list ></app-customer-list>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>