<div class="container col-md-12">
  <h5><span class="material-icons" style="text-align: center;">group</span> Customers</h5>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <dx-data-grid id="gridOrders"
    [dataSource]="dataSource"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="true"
    [hoverStateEnabled]="true"
    [rowAlternationEnabled]="true"
    [height]="500">
    <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="customer_name" caption="Customer Name" [width]="350" [allowFiltering]="true"></dxi-column>
      <dxi-column dataField="status_code" caption="Status" [width]="150"></dxi-column>
      <dxi-column dataField="setup_date" caption="Setup Date" dataType="date" [width]="150"></dxi-column>
      <dxi-column dataField="setup_by" caption="Setup By" [width]="150"></dxi-column>
      <dxi-column dataField="parent_ind" caption="Is Parent?" dataType="boolean" [width]="150"></dxi-column>
      <dxo-search-panel [visible]="true"></dxo-search-panel>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-sorting mode="single"> <!-- or "multiple" | "none" --></dxo-sorting>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"></dxo-pager>
  <dxo-editing 
  mode="popup"
  [allowUpdating]="true"
  [allowDeleting]="false"
  [allowAdding]="true">
      <dxo-popup
      title="User Info"
      [showTitle]="true"
      [width]="700"
      [height]="450"
      [position]="{ my: 'top', at: 'top', of: window }">
      </dxo-popup>
</dxo-editing>
  </dx-data-grid>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
        <dx-tab-panel
        #tabPanel
        [selectedIndex]="0"
        [loop]="false"
        [animationEnabled]="true"
        [swipeEnabled]="true">
          <dxi-item title='Info'>
            <div class="panel panel-default xs-md-12">
                <div class="panel-heading">Panel Heading</div>
                <div class="panel-body">Panel Content</div>
              </div>
          </dxi-item>
          <dxi-item title='Details'>
            <app-orderdetails></app-orderdetails>
          </dxi-item>
          <dxi-item title='History'>
            History
          </dxi-item>
      </dx-tab-panel>
    </div>
  </div>
</div>
