<div class="container col-md-12">
  <h5><span class="material-icons" style="text-align: center;">group</span> Customers</h5>
  <hr>
  <ngb-tabset #customerTabs>
    <ngb-tab id='tbContacts' title="Contacts">
      <ng-template ngbTabContent>
        <app-contact-list></app-contact-list>  
      </ng-template>
    </ngb-tab>
    <ngb-tab id='tbCustomers' title="Customers">
      <ng-template ngbTabContent>
        <app-customer-list ></app-customer-list>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<!-- <ngb-tabset>
    <ngb-tab title="Info">
      <ng-template ngbTabContent>
          <app-customer-info></app-customer-info>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Contacts">
      <ng-template ngbTabContent>
          <app-customer-contacts [customer]="selectedCustomer"></app-customer-contacts>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Notes" [disabled]="true">
      <ng-template ngbTabContent>
        
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Orders" [disabled]="true">
        <ng-template ngbTabContent>
          
        </ng-template>
      </ngb-tab>
  </ngb-tabset> -->
<!-- <div class="container col-md-12">
  <div class="row">
      <div class="col-sm-10">
          <dx-tab-panel
          #tabPanel
          [selectedIndex]="0"
          [loop]="false"
          [animationEnabled]="true"
          [swipeEnabled]="true">
            <dxi-item title='Info'>
                  <app-customer-info></app-customer-info>
            </dxi-item>
            <dxi-item title='Contacts'>
                <app-customer-contacts [customer]="selectedCustomer"></app-customer-contacts>
            </dxi-item>
            <dxi-item title='Orders'>
                <app-orderdetails></app-orderdetails>
            </dxi-item>
        </dx-tab-panel>
      </div>
    </div>
</div> -->

